.App {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css?family=Merriweather");

#profileBackground {
  /* background-color: #808080; */
  height: 100vh;
  width: 100vw;
}
#aboutBackground {
  /* background-color: #808080; */
  height: 100vh;
  width: 100vw;
}

#titleFont {
  font-family: "Merriweather";
  /* color:  #fff; */
}
.noDataYet {
  position: relative;
  left: 25%;
}

.aboutText {
  text-align: justify;
  font-family: "Merriweather";
  position: relative;
  left: 10%;
}
 #aboutPosition{
   position: relative; 
   top :20px;
 }

 #aboutImage1{
   position: relative; 
   top :99px
 }
 #aboutImage2{
   position: relative; 
   top :57px
 }
 #aboutImage3{
   position: relative; 
   top :173px
 }

 #centRow{
  justify-content: center;
 }

.btn1 {
  position: flex;
  justify-content: space-between;
}

.container {
  align-content: space-between;
}

.about {
  border-style: double;
}

.finance {
  border-style: double;
}

.firstnames {
  border-style: double;
}



/* ff */
