.App {
  text-align: center;
}

.homepage{
  background-color: aqua;
  height: 100vh;
  width: 100vw;
  
}
/* body{

  background-color: aqua;
} */

.btn1{
  position: flex;
  justify-content: space-between;

}



.container {align-content:  space-between ;}

.about {
  border-style: double;

}


.finance{
  border-style: double;

}



.friends{
  border-style: double;

}



  

